.btn {
  border-radius: 15px;
  color: #f0f8ff;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.btn--primary {
  background-color: rgb(2, 88, 7);
}

.btn--secondary {
  background-color: rgb(56, 99, 141);
}

.btn--small {
  font-size: 14px;
}

.btn--medium {
  font-size: 18px;
}
